@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Phudu:wght@300;400&display=swap');

:root {
  --white: #ffffffda;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Phudu', 'Dancing Script', cursive;
  overflow: hidden;
  margin: 100px;
  background: url('./images/53083388532_0e00d2f3da_k.jpg') center no-repeat
    fixed;
  user-select: none;
}

.app {
  font-weight: light;
  font-size: 25px;
  color: var(--white);
}

#search-bar {
  width: 20px;
  height: auto;
}

#form-city {
  display: flex;
  align-items: center;
}

header {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

main {
  color: var(--white);
  padding: 20px;
  height: 80vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.span-font {
  font-size: 19px;
}

.loc {
  font-weight: bold;
  font-size: 100px;
}
