@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Phudu:wght@300;400&display=swap');

:root {
  --white: #ffffffda;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Phudu', 'Dancing Script', cursive;
  overflow: hidden;
  margin: 100px;
  background: url('./images/53083388532_0e00d2f3da_k.jpg') center no-repeat
    fixed;
  user-select: none;
}

.app {
  font-weight: light;
  font-size: 25px;
  color: var(--white);
}

#search-bar {
  width: 20px;
  height: auto;
}

#form-city {
  display: flex;
  align-items: center;
}

header {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

main {
  color: var(--white);
  padding: 20px;
  height: 80vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.span-font {
  font-size: 19px;
  color: var(--white);
}

.loc {
  font-weight: bold;
  font-size: 100px;
}

/* button */
.temp-text {
  background-color: transparent;
  border: 1px solid #266db6;
  box-sizing: border-box;
  color: #00132c;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  padding: 16px 23px;
  position: relative;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.temp-text:hover,
.temp-text:active {
  outline: 0;
}

.temp-text:hover {
  background-color: transparent;
  cursor: pointer;
}

.temp-text:before {
  background-color: #d5edf6;
  content: '';
  height: calc(100% + 3px);
  position: absolute;
  right: -7px;
  top: -9px;
  transition: background-color 300ms ease-in;
  width: 100%;
  z-index: -1;
}

.temp-text:hover:before {
  background-color: #6dcff6;
}
